<!DOCTYPE html>
<html>
<head>
    <title>温湿度实时表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:threaltimetemandhum:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:threaltimetemandhum:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:threaltimetemandhum:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">插入时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.createTime" placeholder="插入时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.dataTime" placeholder="日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">点位</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.place" placeholder="点位"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">温度值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.temperature" placeholder="温度值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">湿度值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.hamidity" placeholder="湿度值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否推送</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.isPush" placeholder="是否推送"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">推送时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="thRealTimeTemAndHum.pushTime" placeholder="推送时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/threaltimetemandhum.js?_${.now?long}"></script>
</body>
</html>