<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产线抛料率</title>
    <!-- 设置视口-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1"/>
    <!-- 导入css-->
    <link rel="stylesheet" href="../../statics/webStatics/css/plugIn/bootstrap.css"/>
    <!-- 引入swiper 样式-->
    <link rel="stylesheet" href="../../statics/webStatics/css/plugIn/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../statics/webStatics/css/plugIn/swiper/animate.min.css">
    <!--公共样式-->
    <link rel="stylesheet" href="../../statics/webStatics/css/common.css">
    <link rel="stylesheet" href="../../statics/webStatics/css/ThrowRateReport.css"/>

    <!-- 导入3个js，有顺序要求-->
    <script src="../../statics/webStatics/js/plugIn/jquery.min.js"></script>
    <script src="../../statics/webStatics/js/plugIn/popper.min.js"></script>
    <script src="../../statics/webStatics/js/plugIn/bootstrap.min.js"></script>
    <!--引入公共字体，请求方法-->
    <script src="../../statics/webStatics/js/utils/require.js"></script>
    <!--引入echart.js-->
    <script src="../../statics/webStatics/js/plugIn/echart/echarts.common.js"></script>
</head>
<body>
<div class="container">
    <!--头部主题-->
    <header></header>
    <!--内容部分-->
    <div class="loading flexColumnCenterCenter">
        <img src="../../statics/webStatics/images/loading.png"  alt="图片出错">
    </div>
    <div class="wrapper flexColumnBetweenCenter">
        <!--统计产线的抛料率-->
        <div class="row throwStatistics flexRowCenterCenter">
            <div class="day-putInto-sum">
                <span>日总投入物料数：</span>
                <p>0</p>
            </div>
            <div class="day-putOut-number">
                <span>日总抛料数：</span>
                <p>0</p>
            </div>
            <div class="day-putOut-rate">
                <span>日总抛料率：</span>
                <p>
                    0%
                </p>
            </div>
        </div>
        <!--抛料率分析 -->
        <div class="row putOutAnalyze">
            <div class="chart clear col-xl-12 col-xs-12" >
                <p class="theme" style="position: absolute">
                    <span class="title">抛料率分析</span>
                    <!--<span class="subhead">Adverse cause TOP3</span>-->
                </p>
                <!--分页标记-->
                <ul class="pagination" style="display: none">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <!--详细信息-->
                <div class="showChart">
                    <div class="throwAnalyze swiper-container">
                        <ul class="list flexRowStartStart swiper-wrapper">
                            <!--                        <li>-->
                            <!--                            <p class="title">-->
                            <!--                                <span class="equipmentNo">泛用机1#</span>-->
                            <!--                                <span class="lineNo">所属线别：B1-SMT7线</span>-->
                            <!--                            </p>-->
                            <!--                            <div class="ecahrtWrap flexRowBetweenCenter">-->
                            <!--                                <div class="left ">-->
                            <!--                                    <p class=" flexColumnStartCenter">-->
                            <!--                                        0.20-->
                            <!--                                        <span>%</span>-->
                            <!--                                    </p>-->
                            <!--                                    <div class="rateHeight">-->
                            <!--                                        <div class="water">-->
                            <!--                                            <i></i>-->
                            <!--                                            <i></i>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash;料号相对信息&ndash;&gt;-->
                            <!--                                <ul class="right flexRowStartCenter">-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.34-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">2</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">3</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <!--                        </li>-->
                            <!--                        <li>-->
                            <!--                            <p class="title flexRowBetweenCenter">-->
                            <!--                                <span class="equipmentNo">泛用机1#</span>-->
                            <!--                                <span class="lineNo">所属线别：B1-SMT7线</span>-->
                            <!--                            </p>-->
                            <!--                            <div class="ecahrtWrap flexRowBetweenCenter">-->
                            <!--                                <div class="left flexColumnBetweenCenter">-->
                            <!--                                    <p class=" flexColumnStartCenter">-->
                            <!--                                        0.30-->
                            <!--                                        <span>%</span>-->
                            <!--                                    </p>-->
                            <!--                                    <div class="rateHeight">-->
                            <!--                                        <div class="water" >-->
                            <!--                                            <i></i>-->
                            <!--                                            <i></i>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash;料号相对信息&ndash;&gt;-->
                            <!--                                <ul class="right flexRowStartCenter">-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <!--                        </li>-->
                            <!--                        <li>-->
                            <!--                            <p class="title flexRowBetweenCenter">-->
                            <!--                                <span class="equipmentNo">泛用机1#</span>-->
                            <!--                                <span class="lineNo">所属线别：B1-SMT7线</span>-->
                            <!--                            </p>-->
                            <!--                            <div class="ecahrtWrap flexRowBetweenCenter">-->
                            <!--                                <div class="left flexColumnBetweenCenter">-->
                            <!--                                    <p class=" flexColumnStartCenter">-->
                            <!--                                        0.34-->
                            <!--                                        <span>%</span>-->
                            <!--                                    </p>-->
                            <!--                                    <div class="rateHeight">-->
                            <!--                                        <div class="water" >-->
                            <!--                                            <i></i>-->
                            <!--                                            <i></i>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash;料号相对信息&ndash;&gt;-->
                            <!--                                <ul class="right flexRowStartCenter">-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <!--                        </li>-->
                            <!--                        <li>-->
                            <!--                            <p class="title flexRowBetweenCenter">-->
                            <!--                                <span class="equipmentNo">泛用机1#</span>-->
                            <!--                                <span class="lineNo">所属线别：B1-SMT7线</span>-->
                            <!--                            </p>-->
                            <!--                            <div class="ecahrtWrap flexRowBetweenCenter">-->
                            <!--                                <div class="left flexColumnBetweenCenter">-->
                            <!--                                    <p class=" flexColumnStartCenter">-->
                            <!--                                        0.37-->
                            <!--                                        <span>%</span>-->
                            <!--                                    </p>-->
                            <!--                                    <div class="rateHeight">-->
                            <!--                                        <div class="water" >-->
                            <!--                                            <i></i>-->
                            <!--                                            <i></i>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash;料号相对信息&ndash;&gt;-->
                            <!--                                <ul class="right flexRowStartCenter">-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="information flexColumnStartCenter">-->
                            <!--                                            <p class="partNumber">-->
                            <!--                                                <i class="no">1</i>&nbsp;H0807A01A-->
                            <!--                                            </p>-->
                            <!--                                            <p class="rate">-->
                            <!--                                                0.32-->
                            <!--                                            </p>-->
                            <!--                                            <span> %</span>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="show row flexRowBetweenEnd">-->
                            <!--                                            <div class="sumNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    置件数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="putOutNumber col-xl-6 col-xs-6">-->
                            <!--                                                <p class="bar">-->
                            <!--                                                    <i></i>-->
                            <!--                                                </p>-->
                            <!--                                                <p class="typeName">-->
                            <!--                                                    抛料数量-->
                            <!--                                                </p>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <!--                        </li>-->
                        </ul>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../statics/webStatics/js/ThrowRateReport.js"></script>
<script src="../../statics/webStatics/js/header.js"></script>
<script src="../../statics/webStatics/js/plugIn/swiper/swiper.min.js"></script>
<script src="../../statics/webStatics/js/plugIn/swiper/swiper.animate.min.js"></script>
</body>
</html>