<script src="${request.contextPath}/statics/webStatics/js/header.js"></script>
<header class="row flexRowBetweenCenter">
    <div class="company flexColumnCenterStart">
        <p class="companyName"></p>
        <!--<span class="EnglishCompanyName">Order Management Report</span>-->
    </div>
    <div class="title">
        <p>统合电子(杭州)有限公司</p>
    </div>
    <div class="showTime flexColumnCenterStart">
        <div class="top">
            <img class="icon" src="${request.contextPath}/statics/webStatics/images/headerTime.png" alt=""><span class="time">00:00:00</span>
        </div>
        <div class="bottom flexRowBetweenCenter">
            <div class="date ">
                XXXX/XX/XX
            </div>
            <div class="week">星期X </div>
        </div>
    </div>
</header>